*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease !important;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    overflow: hidden;
    background-color: rgb(255, 184, 85);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    margin-top: 20px;
    margin-left: 50%;
    translate: -50% 0%;
    border-radius: 10px;
    padding: 0px 30px;
    backdrop-filter: blur(8px);
    color: black;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0px solid black;
    z-index: 1000;

    a{
        all: unset;
        cursor: pointer;
    }

    .language{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 30px;

        h3:nth-child(1){
            padding: 5px;
            border-right: 2px solid black;
        }

        h3:nth-child(2){
            padding: 5px;
            border-right: 2px solid black;
        }

        h3:nth-child(3){
            padding: 5px;
        }
        .active{
            color: black;
            border-bottom: 2px solid black;
        }
    }
}

.main{
    z-index: -100000;
    display: flex;
    align-items: center;
    flex-direction: column;
    // margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url("https://cdn.elebase.io/173fe953-8a63-4a8a-8ca3-1bacb56d78a5/ddc8fa39-b49f-46c0-abf1-8cd1d5cedcd9-shutterstock_1538202113.jpg?q=90");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 184, 85),rgba(255, 184, 85, 0.325),rgba(255, 184, 85, 0.073));
}

.main::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 184, 85, 0.073),rgba(255, 184, 85, 0.325), rgb(255, 184, 85));
}

.neg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.419);
    backdrop-filter: blur(5px);
    z-index: 10000;

    .modal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 0px 20px;
        text-align: center;
        width: 35%;
        height: 40%;
        border-radius: 10px;
        z-index: 2;
        box-shadow: 0 -200px 100px -120px crimson inset;
        background: gold;
        animation: background 3s infinite alternate;

        button{
            width: 32%;
            height: 40px;
            background-color: black;
            color: white;
            border: 2px solid black;
            border-radius: 5px;
        }

        button:hover{
            background-color: orange;
            border: orange;
            color: black;
        }
    }
}

.af1{
    position: absolute;
    width: 360px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 90vh;
    margin-top: 60vh;
    opacity: 0.7;
    
}

 .af2{
    position: absolute;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 270deg;
    margin-left: -20vh;
    margin-top: -70vh;
    opacity: 0.7;
    z-index: -100000000000000;
 }

.af3{
    position: absolute;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 270deg;
    margin-left: -20vh;
    margin-top: 60vh;
    opacity: 0.7;
    z-index: -100000000000000;
}

.af4{
    position: absolute;
    width: 300px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 270deg;
    margin-left: -10vh;
    margin-top: -60vh;
    opacity: 0.7;
    z-index: -100000000000000;
}

.af5{
    position: absolute;
    width: 200px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 270deg;
    margin-left: 10vh;
    margin-top: 60vh;
    opacity: 0.7;
    z-index: -100000000000000;
}

.af6{
    position: absolute;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 270deg;
    margin-left: 30vh;
    margin-top: -90vh;
    opacity: 0.7;
    z-index: -100000000000000;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 20px 0px;

    .fonik{
        width: 100%;
        height: 300vh;
        margin-top: 200vh;
        opacity: 0.9;
        z-index: -100;
        position: absolute;
        background-image: url('/public/fon pivo.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;   
    }

    .startt{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 100px 0px 100px;
        width: 100%;
        height: 100vh;
        font-size: 40px;
        color: #f4a403;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        h1{
            color: black;
        }

        .lefttt{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            
            img{
                width: 100%;
                height: 67%;
                background-size: cover;
            } 
        }
    }

    .start{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        .zlatabrewery-text{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;

            h1{
                text-align: center;
                font-size: 280px;
                z-index: -1;   
            }
    
            h1 {
                color: #fff;
                position: absolute;
            }
    
            h1:nth-child(2), h1:nth-child(4){
                color: #f4a403;
                animation: animate 4s ease-in-out infinite;
            }

            h1:nth-child(1), h1:nth-child(2){
                margin-bottom: 25%;
            }

            h1:nth-child(3), h1:nth-child(4){
                margin-top: 25%;
            }
    
            h1:nth-child(1), h1:nth-child(3) {
                color: transparent;
                -webkit-text-stroke: 2px rgb(199, 0, 0);
            }
            
        }
        

        img{
            position: absolute;
            width: 500px;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .rotate{
            margin-right: 1px;
            margin-top: 1px;
            height: 700px;
            animation: rotate 7s linear infinite;
            z-index: 100;
        }
    }

    .sostav{
        display: flex;
        gap: 20px;
        width: 100%;
        height: 55vh;
        padding: 10px;
        
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 24%;
            height: 59%;
            padding: 10px;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 4px 4px 20px 2px black;

            img{
                width: 100%;
                height: 25vh;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        div:hover{
            height: 100%;
        }

        .water{
            background-color: blue;
            color: aqua;
        }
        .solod{
            background-color: #f4a403;
            color: wheat;
            
            img{
                width: 80%;
            }
        }
        .hmel{
            background-color: greenyellow;
            color: green;

            img{
                width: 90%;
            }
        }
        .drojji{
            background-color: rgb(255, 204, 110);
            color: rgb(140, 140, 140);

            img{
                width: 119%;
            }
        }
    }

    .history-title1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
    }
    .history-title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
        background: linear-gradient(45deg, red, rgb(255, 105, 105), rgb(255, 27, 27));
        font-size: 15px;
    }

    .history{
        width: 100%;
        height: 240vh;
        color: black;

        .history-descr{
            display: flex;
            flex-direction: column;
            gap: 80px;
            padding: 200px 150px;
            width: 50%;

            h2{
                text-align: center;
                width: 500px;
                opacity: 0.5;
            }

            h2:nth-child(2){
                margin-top: 7vh;
            }

            h2:nth-child(1), h2:nth-child(3){
                margin-left: 95vh;
            }

            h2:nth-child(5){
                margin-left: 47.5vh;
                margin-top: 100px;
            }
        }

        .history-line{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 80px;
            position: absolute;
            margin-left: 50%;
            translate: -50% 0%;
            padding: 200px 0px;

            h4{
                margin-right: 15px;
                font-size: 30px;
                opacity: 0.5;
            }

            div{
                width: fit-content;
                height: fit-content;
                rotate: 90deg;
                font-size: 30px;
                font-weight: 1000;
            }
        }
    }

    .news{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        .newSwiper{
            width: 80%;
            height: 80vh;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 4px 4px 20px 2px black;

            swiper-container {
              width: 100%;
              height: 100%;
              background: #000;
            }
        
            swiper-slide {
              font-size: 18px;
              color: #fff;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              padding: 40px 60px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
        
            .parallax-bg {
              position: absolute;
              left: 0;
              top: 0;
              width: 130%;
              height: 100%;
              -webkit-background-size: cover;
              background-size: cover;
              background-position: center;
            }
        
            swiper-slide .title {
              font-size: 41px;
              font-weight: 300;
              
            }
        
            swiper-slide .subtitle {
              font-size: 21px;
            }
        
            swiper-slide .text {
              font-size: 14px;
              max-width: 400px;
              line-height: 1.3;
            }
        }

    }
}

@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

@keyframes reverserotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -360deg;
    }
}


@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


@keyframes background {
    50% {
      background: skyblue;
      box-shadow: 0 -200px 100px -100px yellowgreen inset;
    }
}

.pubs{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 140vh;
    background-image: url('/public/table.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 0;

    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      h3, h2, h1{
        position: absolute;
      }

      h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 70px;
        margin-bottom: 100vh;
      }

      h3{
        width: 30%;
        margin-left: 120vh;
        margin-bottom: 50vh
      }

      h2{
        margin-right: 120vh;
        margin-bottom: 50vh;
      }
    }

    swiper-slide img {
      display: block;
      width: 65%;
      height: 65%;
      margin-top: 10vh;
      object-fit: contain;
    }
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 35vh;
    background-color: #591513;
    color: white;

    .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .social{

        .icons{
            display: flex;
            align-items: center;
            gap: 5px;
            
            img{
                width: 35px;
                height: 35px;
                border-radius: 5px;
            }

            img:nth-child(2){
                width: 34px;
                height: 34px;
            }
        }
    }
}

.posters{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 80%;
        height: 80%;
        column-gap: 10px;
        row-gap: 10px;

        .grids{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; 
        }

        .grids:nth-child(1){
            background-image: url('/public/holiday.jpg');
        }

        .grids:nth-child(2){
            background-image: url('/public/Post-Zlata.jpg');
            grid-column-start: 2;
            grid-column-end: 4;
        }

        .grids:nth-child(3){
            background-image: url('/public/more photo.jpg');
            grid-row: 2 / 4;
            grid-column: 1 / 3;
        }

        .grids:nth-child(4){
            background-image: url('/public/poster.png');
        }
        
        .grids:nth-child(5){
            background-image: url('/public/Post-Zlata-1.jpg');
            grid-column: 3 / 5;
        }
        .grids:nth-child(6){
            background-image: url("/public/poster3.png");
            grid-column: 3 / 5;
        }
        .grids:nth-child(7){
            background-image: url('/public/bavarianpos.png');
            grid-column: 5 / 6;
            grid-row: 1 / 3;
        }
        .grids:nth-child(8){
            background-image: url('/public/poster2.png');
        }

    }
}

///////// 1400px ///////////

@media only screen and (max-width: 1400px){
    header{
        width: 100%;
        margin: 0 auto;
        translate: none;
    }
    .af1{
        width: 360px;
        height: 300px;
        margin-right: 90vh;
            margin-top: 20vh;
            
    }
    
     .af2{
        width: 300px;
        height: 300px;
        margin-left: -20vh;
        margin-top: -50vh;

     }
    
    .af3{
        width: 300px;
        height: 300px;
        margin-left: -20vh;
        margin-top: 40vh;
    }
    
    .af4{
        width: 300px;
        height: 250px;
        margin-left: -10vh;
        margin-top: -60vh;
    }
    
    .af5{
        width: 200px;
        height: 300px;
        margin-left: 10vh;
        margin-top: 40vh;
    }
    
    .af6{
        width: 300px;
        height: 300px;
        margin-left: 30vh;
        margin-top: -60vh;
    }
    main{
        

        .history{
            
            .history-descr{
                display: flex;
                flex-direction: column;
                gap: 80px;
                padding: 200px 0px;
                width: 50%;
        
                h2{
                    text-align: center;
                    width: 500px;
                    color: rgb(196, 166, 0);
                }
        
                h2:nth-child(2){
                    margin-top: 7vh;
                }
        
                h2:nth-child(1), h2:nth-child(3){
                    margin-left: 86vh;
                }
        
                h2:nth-child(5){
                    margin-left: 47.5vh;
                    margin-top: 20px;
                }
            }
        }
        .start{
    
            .zlatabrewery-text{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                position: relative;
    
                h1{
                    text-align: center;
                    font-size: 240px;
                    z-index: -1;   
                }
        
                h1 {
                    color: #fff;
                    position: absolute;
                }
        
                h1:nth-child(2), h1:nth-child(4){
                    color: #f4a403;
                    animation: animate 4s ease-in-out infinite;
                }
    
                h1:nth-child(1), h1:nth-child(2){
                    margin-bottom: 35%;
                }
    
                h1:nth-child(3), h1:nth-child(4){
                    margin-top: 35%;
                }
        
                h1:nth-child(1), h1:nth-child(3) {
                    color: transparent;
                    -webkit-text-stroke: 2px white;
                }
                
            }
            
    
            img{
                position: absolute;
                width: 500px;
                height: 500px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .rotate{
                margin-right: 1px;
                margin-top: 1px;
                height: 700px;
                animation: rotate 7s linear infinite;
                z-index: 100;
            }
        }
        .sostav{
            display: flex;
            gap: 20px;
            width: 100%;
            height: 55vh;
            padding: 10px;
            
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 23%;
                height: 48%;
                padding: 10px;
                border-radius: 30px;
                overflow: hidden;
                box-shadow: 4px 4px 20px 2px black;
    
                img{
                    width: 95%;
                    height: 25vh;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
    
            div:hover{
                height: 100%;
            }
    
            .water{
                background-color: blue;
                color: aqua;
            }
            .solod{
                background-color: #f4a403;
                color: wheat;
                
                img{
                    width: 75%;
                }
            }
            .hmel{
                background-color: greenyellow;
                color: green;
    
                img{
                    width: 100%;
                }
            }
            .drojji{
                background-color: rgb(255, 204, 110);
                color: rgb(140, 140, 140);
    
                img{
                    width: 119%;
                }
            }
        }
    }
    .pubs{
    
        swiper-slide {
    
          h1{
            font-size: 70px;
            margin-bottom: 100vh;
          }
    
          h3{
            margin-left: 90vh;
            margin-bottom: 50vh
          }
    
          h2{
            margin-right: 90vh;
            margin-bottom: 50vh;
          }
        }
    }
}


@media only screen and (max-width: 1024px){
    main{
        

        .history{
            
            .history-descr{
        
                h2{
                    width: 450px;
                }
        
                h2:nth-child(2){
                    margin-top: 7vh;
                }
        
                h2:nth-child(1), h2:nth-child(3){
                    margin-left: 94vh;
                }
        
                h2:nth-child(5){
                    margin-left: 47.5vh;
                    margin-top: 60px;
                }
            }
        }
        .start{
    
            .zlatabrewery-text{

                h1{
                    text-align: center;
                    font-size: 190px;
                    z-index: -1;   
                }
        
                h1 {
                    color: #fff;
                    position: absolute;
                }
        
                
            }
            
    
            img{
                position: absolute;
                width: 500px;
                height: 500px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .rotate{
                margin-right: 1px;
                margin-top: 1px;
                height: 700px;
                animation: rotate 7s linear infinite;
                z-index: 100;
            }
        }
        .sostav{
            display: flex;
            gap: 20px;
            width: 100%;
            height: 55vh;
            padding: 10px;
            
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 23%;
                height: 54%;
                padding: 10px;
                border-radius: 30px;
                overflow: hidden;
                box-shadow: 4px 4px 20px 2px black;
    
                img{
                    width: 95%;
                    height: 25vh;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
    
            div:hover{
                height: 100%;
                overflow-y: scroll;
            }
    
            .water{
                background-color: blue;
                color: aqua;
            }
            .solod{
                background-color: #f4a403;
                color: wheat;
                
                img{
                    width: 75%;
                }
            }
            .hmel{
                background-color: greenyellow;
                color: green;
    
                img{
                    width: 100%;
                }
            }
            .drojji{
                background-color: rgb(255, 204, 110);
                color: rgb(140, 140, 140);
    
                img{
                    width: 119%;
                }
            }
        }
    }    
}

/////////////////////// 450px ///////////////////////

@media only screen and (max-width: 450px){
    header{
        display: flex;
        gap: 60px;
        width: 100%;
        margin: 0;
        translate: none;
        text-align: center;
        
        a:nth-child(3), a:nth-child(4), .language{
            display: none;
        }

    }
    body{
        overflow-x: hidden;
    }
    .posters{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    
        .grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            width: 80%;
            height: 80%;
            column-gap: 10px;
            row-gap: 10px;
    
            .grids{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat; 
            }
    
            .grids:nth-child(1){
                background-image: url('/public/holiday.jpg');
            }
    
            .grids:nth-child(2){
                background-image: url('/public/Post-Zlata.jpg');
                grid-column-start: 2;
                grid-column-end: 3;
            }
    
            .grids:nth-child(3){
                background-image: url('/public/more photo.jpg');
                grid-row: 2 / 4;
                grid-column: 1 / 3;
            }
    
            .grids:nth-child(4){
                background-image: url('/public/poster.png');
                grid-row: 4;
                grid-column: 1 / 1;
            }
            
            .grids:nth-child(5){
                background-image: url('/public/Post-Zlata-1.jpg');
                grid-column: 1 / 3;
            }

            .grids:nth-child(6){
                background-image: url('/public/bavarian.png');
                grid-column: 2 / 3;
                grid-row: 4 / 6;
            }
            .grids:nth-child(7){
                background-image: url('/public/poster2.png');
                grid-column: 1 / 2;
                grid-row: 5 / 6;
            }
    
        }
    }
    main{
        .start{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;

            .zlatabrewery-text{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                position: relative;

                h1{
                    text-align: center;
                    font-size: 70px;
                    z-index: -1;   
                }
    
                h1 {
                    color: #fff;
                    position: absolute;
                }
    
                h1:nth-child(2), h1:nth-child(4){
                    color: #f4a403;
                    animation: animate 4s ease-in-out infinite;
                }

                h1:nth-child(1), h1:nth-child(2){
                    margin-bottom: 40vh;
                }

                h1:nth-child(3), h1:nth-child(4){
                    margin-top: 40vh;
                }
    
                h1:nth-child(1), h1:nth-child(3) {
                    color: transparent;
                    -webkit-text-stroke: 2px rgb(255, 60, 60);
                }
            
            }
        

            img{
                position: absolute;
                width: 200px;
                height: 200px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        
            .rotate{
                margin-right: 1px;
                margin-top: 1px;
                height: 280px;
                animation: rotate 7s linear infinite;
                z-index: 100;
            }
        }

        .history-title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 10vh;
            background: linear-gradient(45deg, red, rgb(255, 105, 105), rgb(255, 27, 27));
            font-size: 15px;
        }

        .history{
            height: fit-content;
            font-size: 7px;
            
            .history-descr{
                display: flex;
                flex-direction: column;
                gap: 80px;
                padding: 200px 0px;
                width: 50%;
        
                h2{
                    text-align: center;
                    width: 150px;
                    color: black;
                }
        
                h2:nth-child(2){
                    margin-top: 7vh;
                }
        
                h2:nth-child(1), h2:nth-child(3){
                    margin-left: 28vh;
                }
        
                h2:nth-child(5){
                    margin-left: 14vh;
                    margin-top: 90px;
                }
            }
            
            .history-line{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 80px;
                position: absolute;
                margin-left: 50%;
                translate: -50% 0%;
                padding: 200px 0px;
    
                h4{
                    margin-right: 15px;
                    font-size: 10px;
                    color: black;
                }
    
                div{
                    width: fit-content;
                    height: fit-content;
                    rotate: 90deg;
                    font-size: 30px;
                    color: black;
                }
            }
        }
        .sostav{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            padding: 10px;
            
            div{
                display: flex;
                // align-items: center;
                width: 47%;
                height: 30%;
                padding: 10px;
                border-radius: 30px;
                overflow: hidden;
                box-shadow: 4px 4px 20px 2px black;
    
                img{
                    width: 95%;
                    height: 25vh;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
    
            div:hover{
                height: 70%;
                overflow-y: scroll;
            }
    
            .water{
                background-color: blue;
                color: aqua;
            }
            .solod{
                background-color: #f4a403;
                color: wheat;
                
                img{
                    width: 75%;
                }
            }
            .hmel{
                background-color: greenyellow;
                color: green;
    
                img{
                    width: 100%;
                }
            }
            .drojji{
                background-color: rgb(255, 204, 110);
                color: rgb(140, 140, 140);
    
                img{
                    width: 119%;
                }
            }
        }
        .news{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50vh;
    
            .newSwiper{
                width: 80%;
                height: 80%;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 4px 4px 20px 2px black;
    
                swiper-container {
                  width: 100%;
                  height: 100%;
                  background: #000;
                }
            
                swiper-slide {
                  font-size: 18px;
                  color: #fff;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  padding: 40px 60px;
                }
            
                .parallax-bg {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 130%;
                  height: 100%;
                  -webkit-background-size: cover;
                  background-size: cover;
                  background-position: center;
                }
            
                swiper-slide .title {
                  font-size: 41px;
                  font-weight: 300;
                  
                }
            
                swiper-slide .subtitle {
                  font-size: 21px;
                }
            
                swiper-slide .text {
                  font-size: 14px;
                  max-width: 400px;
                  line-height: 1.3;
                }
            }
    
        }
    }
    .pubs{
        margin-bottom: 10vh;
    
        swiper-slide {
            height: 80%;
    
          h1{
            font-size: 60px;
            margin-bottom: 60vh;
          }
    
          h3{
            display: none;
          }
    
          h2{
            margin-right: 0vh;
            margin-bottom: 20vh;
            font-size: 20px;
          }

          img{
            background-size: cover;
            object-fit: cover;
            width: 90%;
            height: 90%;
            margin-top: 70vh;
          }
        }
    }

    footer{
        font-size: 10px;
        gap: 10px;
    }
    .af1{
        width: 130px;
        height: 100px;
        margin-right: 30vh;
        margin-top: 30vh;
        
    }
    
     .af2{
        width: 100px;
        height: 100px;
        margin-left: -20vh;
        margin-top: -20vh;

     }
    
    .af3{
        width: 100px;
        height: 100px;
        margin-left: -20vh;
        margin-top: 15vh;
    }
    
    .af4{
        width: 100px;
        height: 80px;
        margin-left: -10vh;
        margin-top: -18vh;
    }
    
    .af5{
        width: 70px;
        height: 100px;
        margin-left: 10vh;
        margin-top: 15vh;
    }
    
    .af6{
        width: 100px;
        height: 100px;
        margin-left: 30vh;
        margin-top: -19vh;
    }
    .pubs{
        translate: 0% -5%;
    }
}

/////////////////// 375px ////////////////////

@media only screen and (max-width: 376px){
    main{
        .pubs{
            swiper-slide{
                div:nth-child(2){
                    font-size: 16px;
                }
            }
        }
        
        .history{
            .history-descr{
                display: flex;
                flex-direction: column;
                gap: 80px;
                padding: 200px 0px;
                width: 50%;
        
                h2{
                    text-align: center;
                    width: 150px;
                }
        
                h2:nth-child(2){
                    margin-top: 7vh;
                }
        
                h2:nth-child(1), h2:nth-child(3){
                    margin-left: 32vh;
                }
        
                h2:nth-child(5){
                    margin-left: 16vh;
                    margin-top: 110px;
                }
            }
        }
    }
    
    
}

///////////////// 360px ////////////////////

@media only screen and (max-width: 361px){
    main{
        
        .history{
            .history-descr{
                h2:nth-child(1), h2:nth-child(3){
                    margin-left: 21vh;
                }
                h2:nth-child(5){
                    margin-left: 11vh;
                }
            }    
        }

        .sostav{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            padding: 10px;
            
            div{
                display: flex;
                // align-items: center;
                width: 46.5%;
                height: 30%;
                padding: 10px;
                border-radius: 30px;
                overflow: hidden;
                box-shadow: 4px 4px 20px 2px black;
    
                img{
                    width: 95%;
                    height: 25vh;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
    
            div:hover{
                height: 70%;
                overflow-y: scroll;
            }
    
            .water{
                background-color: blue;
                color: aqua;
            }
            .solod{
                background-color: #f4a403;
                color: wheat;
                
                img{
                    width: 75%;
                }
            }
            .hmel{
                background-color: greenyellow;
                color: green;
    
                img{
                    width: 100%;
                }
            }
            .drojji{
                background-color: rgb(255, 204, 110);
                color: rgb(140, 140, 140);
    
                img{
                    width: 119%;
                }
            }
        }

        .af1{
            width: 130px;
            height: 100px;
            margin-right: 30vh;
            margin-top: 30vh;
            
        }
        
         .af2{
            width: 100px;
            height: 100px;
            margin-left: -20vh;
            margin-top: -17vh;
    
         }
        
        .af3{
            width: 100px;
            height: 100px;
            margin-left: -20vh;
            margin-top: 15vh;
        }
        
        .af4{
            width: 100px;
            height: 80px;
            margin-left: -10vh;
            margin-top: -15vh;
        }
        
        .af5{
            width: 70px;
            height: 100px;
            margin-left: 10vh;
            margin-top: 15vh;
        }
        
        .af6{
            width: 100px;
            height: 100px;
            margin-left: 35vh;
            margin-top: -16vh;
        }
    }
    
}

